<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hello Dutch{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <img src="{{ asset("assets/images/hello-dutch.png") }}" alt="Hello Dutch" />
        <hr />
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
