{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard voor
        <small>{{ user }}</small>
    </h1>
    <h2>Selecteer provincie</h2>
    <div id="map">@todo</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
